{% extends "base.html" %}
{% block content %}
    {% if favourites %}
        {% for favourite_product in favourites %}
            <div class="product-card">
                <div class="product-thumb">
                    <a href="{{ favourite_product.goods.get_absolute_url }}" class="url">
                        <img src="{{ favourite_product.goods.main_photo.url }}" alt="Название товара" class="product-card__image">
                    </a>
                </div>
                <div class="product-details">
                    <h4>
                        <a href="{{ favourite_product.goods.get_absolute_url }}" class="url">{{ favourite_product.goods.name }}</a>
                    </h4>
                
                    <p>{{favourite_product.goods.description}}</p>
                </div>
                <div class="product-bottom-details">
                    <div class="product-items">
                        <form action="{% url 'favourite:add' favourite_product.goods.id %}" method="post" class="manage_favourite">
                            {% csrf_token %}
                            <button class="heart_favourite" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                                    <path  class="white" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>   
        {% endfor %}
    {% else %}
        <div> У Вас в избранное ничего не добавлено </div>
    {% endif %}
{% endblock %}