<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
</head>
<body class="error-message">
    {% block error_text %}
    {% endblock error_text %}
    <p>Изображение от <a href="https://ru.freepik.com/free-photo/still-life-with-classic-shirts-on-hanger_69614570.htm#query=%D0%B2%D0%B5%D1%89%D0%B8%20%D0%BD%D0%B0%20%D0%B2%D0%B5%D1%88%D0%B0%D0%BB%D0%BA%D0%B5&position=2&from_view=search&track=ais&uuid=72c237e4-1997-4146-bff3-718e42401faa">Freepik</a></p>
</body>
</html>