html {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: scroll;
    overflow-y: scroll;
    display: block;
}

header {
    align-items: center;
    text-align: center;
    background-color: #FFEBCD;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1536px;
    max-height: 250px;
    min-width: 300px;
    min-height: 60px;
}

.header-body .navbar {
    background-color: #FFEBCD;
    align-items: center;
    text-align: center;
}

div.content-list {
    display: flex;
}

div.container {
    display: block;
    margin-top: 80px;
}

.search-form {
    min-width: 300px;
    border-radius: 5px;
    border-color: #FFEBCD;
}

.search-button {
    border-radius: 5px;
    background-color: #FFEBCD;
}

.navbar-nav .nav-link:hover {
    color: #FF0000;
}

.navbar .sidebar-left .btn:hover {
    color: red;
}

.navbar .navbar-nav .btn:hover {
    color: #FF0000;
}

.navbar .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.offcanvas {
    background-color: #FFEBCD;
}

div.types_goods {
    text-align: left;
    margin-top: 80px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFEBCD;
}


.favourite-products {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

div .offcanvas {
    overflow-x: scroll;
    overflow-y: scroll;
}

div .offcanvas-header {
    background-color: #FFEBCD;
    border-bottom: 1px solid black;
    border-radius: 1px;
}

.offcanvas-header a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: flex;
    transition: 0.3s;
}

div .offcanvas-body {
    background-color: #FFEBCD;
}

.offcanvas-footer {
    background-color: #FFEBCD;
}

.offcanvas-body .types_goods {
    text-align: left;
    margin-top: 80px;
}

.types_goods a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.offcanvas .offcanvas-footer .fa-brands {
    width: 80px;
    height: 80px;
    font-size: 40px;
}

.pagination-container {
    display: block;
}

.pagination-container .pagination {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    right: 50%;
    left: 50%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination .color {
    background-color: #FFEBCD;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.types_goods a:hover {
    color: #FF0000;
}

.favourite-products:hover {
    color: red;
}

.offcanvas-header a:hover {
    color: #FF0000;
}

.offcanvas-footer a:hover {
    color: #FF0000;
}