{% extends "base.html" %}
{% block content %}
    {% for product in goods %}
            <div class="product-card_border">
                <div >
                    <form action="{% url "favourite:add" product.id %}"  method="post" class="manage_favourite">
                        {% csrf_token %}
                        {% if product.id in favourite_goods %}
                            <button class="heart_favourite" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                                    <path  class="white" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg>
                            </button>
                        {% else %}
                            <button class="heart" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                                    <path  class="red" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg>
                            </button>
                        {% endif %} 
                    </form>                         
                </div>
                <a href="{{ product.get_absolute_url }}" class="url"> 
                    <div class="product-card">
                        <img src="{{ product.photo.url }}" alt="Название товара" class="product-card__image">
                        <h3 class="product-card__title">{{ product.name }}</h3>
                        <p class="product-card__description">{{ product.color }}</p>
                    </div>
                </a>
            </div>   
    {% endfor %}
{% endblock %}