{% extends "base.html" %}
{% block content %} 
         
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <div class="href_picture">
            {% for picture in pictures %}
                <li><button onclick="showImage()"><img id="myImage" class="product_imges" src="{{ picture.photo.url }}" alt="картинка"></button></li>
            {% endfor %} 
        </div>  
    </ul>
</nav> 

<div class="info">
    {% for criteria in product %}
        <div class="product-view">
            <p class="text"> Описание: Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Iusto quae quas at quasi quisquam id expedita repellendus nobis sint officia error, 
                voluptas aut ipsum ex! Voluptatum aperiam ut repellendus. Impedit.
            </p>
            <table>
                <tbody>
                    <tr>
                        <td class="name"><span>Название:</span></td>
                        <td class="cur"> {{ criteria.name }}</td>
                      </tr>
                    <tr>
                        <td class="name"><span>Цвет товара:</span></td>
                        <td class="cur">{{ criteria.color }} </td>
                    </tr>
                    <tr>
                        <td class="name"><span>Материал:</span></td>
                        <td class="cur">Хороший</td>
                    </tr>  
                </tbody>
              </table>
        </div>   
    {% endfor %}
{% endblock %}