{% block table %}
    <div class="modal fade " id="exampleModalZhen" tabindex="-1" aria-labelledby="exampleModalLabelZhen" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabelZhen">Женская таблица</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="size-table">
                    <tbody>
                        <tr>
                            <td>Европейский размер: </td>
                            <td>S</td>
                            <td>M</td>
                            <td>L</td>
                            <td>XL</td>
                            <td>XXL</td>
                        </tr>
                        <tr>
                            <td>Российский размер: </td>
                            <td>46</td>
                            <td>48</td>
                            <td>50</td>
                            <td>52</td>
                            <td>54</td>
                        </tr>
                        <tr>
                            <td>Рост, см: </td>
                            <td>176</td>
                            <td>178</td>
                            <td>182</td>
                            <td>186</td>
                            <td>190</td>
                        </tr>
                        <tr>
                            <td>Обхват груди, см: </td>
                            <td>92</td>
                            <td>96</td>
                            <td>100</td>
                            <td>104</td>
                            <td>108</td>
                        </tr>
                        <tr>
                            <td>Обхват талии, см </td>
                            <td>80</td>
                            <td>84</td>
                            <td>88</td>
                            <td>92</td>
                            <td>96</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
{% endblock table %}
