{% extends "base.html" %}

{% block content %}
    <div class="container-about">
        <div class="about-shop">
            <h1>О магазине</h1>
            <p>
                Интернет магазин ZmeyShop предлагает вязаную одежду, ручной работы. Каждая модель, представленная на сайте, выполняется индивидуально.
                Мы постоянно пополняем наш каталог новыми товарами.  
            </p>
            <h2>
                Клиентам
            </h2>
            <ul>
                <li>
                    Каждая вещь выполняется индивидуально(размер, длина, цвет).
                </li>
                <li>
                    Каждая модель выполняется вручную.
                </li>
                <li>
                    Для уточнения деталей, и совершение заказа, необходимо обращаться по указанным контактам.
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
