a.url {
  text-decoration: none;
  color: #000000;
}

.product-card {
  width: 30%;
  border: 1px solid #FFEBCD;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  transition: all .3s;
  float: left;
}

.product-card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 5px;
}

.product-thumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  height: 60px;
  overflow: hidden;
  text-decoration: none;
}

.product-details p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #999;
  width: clamp(20ch, 75ch);
  height: 44px;
  overflow: hidden;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-view {
  position: relative;
}

.heart {
  width: 40px;
  height: 40px;
  background: none;
  outline: none;
  border: none;
  color: #FFEBCD;
}

.heart svg {
  width: 20px;
  height: 20px;
}

.heart:hover .red,
.active_heart .red {
  fill: red;
}

.heart_favourite {
  width: 40px;
  height: 40px;
  background: none;
  outline: none;
  border: none;
  color: red;
}

.heart_favourite svg {
  width: 20px;
  height: 20px;
}

.heart_favourite:hover .white,
.active_favourite_heart .white {
  fill: #FFEBCD;
}