.product_imges {
  height: 500px;
  width: 500px;
}

#carouselExample {
  width: 500px;
  height: 500px;
}

.product-name {
  padding-bottom: 50px;
}

.product-name .product-items {
  float: right;
}

.table-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.table-content ul li {
  border: 1px solid #FFEBCD;
  padding: 5px;
  display: block;
  overflow: hidden;
  position: relative;
}

.table-content .item__label {
  display: inline-block;
  position: relative;

}

.table-content .item__label:after {
  content: '';
  position: absolute;
  left: 100%;
  right: -9999px;
  bottom: 0;
  border-bottom: 1px dotted #888;
}

.table-content .left {
  width: 80%;
  overflow: hidden;
  position: relative;
  float: left;
}

.table-content .item__cor {
  width: 20%;
  float: right;
}

.size-product {
  padding-top: 15%;
}

.size-product table {
  width: 100%;
}

.size-product table tbody td button {
  width: 80px;
  height: 40px;
  background-color: #FFEBCD;
}

.size-product table tbody td button:active {
  background-color: #888;
}

.table-size-product button {
  text-decoration: underline;
}

.modal table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

.modal table td {
  border: 1px solid black;
  text-align: center;
}

.product-description {
  padding-top: 5%;
}

.product-description .accordion-button {
  text-decoration: none;
}

.product-description .accordion-button:not(.collapsed) {
  background-color: white;
}

.product-description .accordion-button:focus {
  border-color: black;
  box-shadow: none;
}

.container-fluid .carousel-inner .carousel-control-prev .carousel-control-prev-icon {
  background-color: wheat;
}

.container-fluid .carousel-inner .carousel-control-next .carousel-control-next-icon {
  background-color: wheat;
}