{% extends "base.html" %}
{% block title %}
    <title>
        Смена пароля
    </title>
{% endblock title %}

{% block content %}
    <div id="container-form-user">
        <form class="form" action="" method="post">
            {% csrf_token %}
            <div class="container-form">
                <input type="hidden" name="next" value="{{ next }}">
                {% for f in form %}
                    <p>
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                        {{ f }}
                    </p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <button class="btn" type="submit">Сменить пароль</button>
            </div>   
        </form>
    </div>
{% endblock content %}