{% extends "base.html" %}
{% block title %}
    <title>
        Успешная смена пароля и вход
    </title>
{% endblock title %}

{% block content %}
    <div id="container-form-user">
        <div class="container-form">
            <div class="reset-complete">
                <p class="information-form">Вы успешно сменили пароль, теперь необходимо войти на сайт!</p>
                <a href="{% url 'users:login' %}">Войти на сайт</a>
            </div>
        </div>
    </div>    
{% endblock content %}