{% extends "users/base_password.html" %}
{% block title_passsword %}
    <title>
        Восстановление пароля
    </title>
{% endblock title_passsword %}

{% block password_action %}
    <form class="form" action="" method="post">
        <p class="information-form">Восстановление пароля</p>
        {% csrf_token %}
        <div class="container-form">
            <input type="hidden" name="next" value="{{ next }}">
            {% for f in form %}
                <p>
                    <label class="form-label" for="{{ f.id_for_label }}"> {{ f.label }}:</label>
                    {{ f }}
                </p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button class="btn" type="submit">Отправить</button>
        </div>   
    </form>
{% endblock  %}